 <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " th:href="@{/index}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/employees}">
		  <i class="bi bi-people"></i>
          <span>Employees</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/leaves}">
          <i class="bi bi-calendar-event"></i>
          <span>Leaves</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/payments}">
          <i class="bi bi-cash"></i>
          <span>Payments</span>
        </a>
      </li>
	  
	  <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#icons-nav1" data-bs-toggle="collapse" href="#">
          <i class="bi bi-person-plus"></i><span>Recruitement</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="icons-nav1" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/vacancies}">
              <i class="bi bi-circle"></i><span>Vacancies</span>
            </a>
          </li>
          <li>
            <a th:href="@{/jobapplications}">
              <i class="bi bi-circle"></i><span>Applications</span>
            </a>
          </li>
        </ul>
      </li>
      	  
	  <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#icons-nav2" data-bs-toggle="collapse" href="#">
          <i class="bi bi-gear"></i><span>Configuration</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="icons-nav2" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/jobtitles}">
              <i class="bi bi-circle"></i><span>Job Titles</span>
            </a>
          </li>
          <li>
            <a th:href="@{/employeetypes}">
              <i class="bi bi-circle"></i><span>Employee Types</span>
            </a>
          </li>
        </ul>
      </li>
      
      <li class="nav-item">
        <a class="nav-link collapsed" href="user-profile.html">
          <i class="bi bi-person"></i>
          <span>My Profile</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-faq.html">
          <i class="bi bi-question-circle"></i>
          <span>F.A.Q</span>
        </a>
      </li>

    </ul>

  </aside><!-- End Sidebar-->
