<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Profile - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Jul 27 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a th:href="@{/index}"  class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">NiceAdmin</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span id="notificationNumber" class="badge bg-primary badge-number"></span>
          </a><!-- End Notification Icon -->

  
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              You have <span id="notificationNumber2"></span>  new notifications
            </li>
            <div id="pendingLeavesDiv">
	            <li>
	              <hr class="dropdown-divider">
	            </li>
	
	            <li class="notification-item">
	              <i class="bi bi-exclamation-circle text-warning"></i>
	              <div>
	                <h4>Leaves</h4>
	                <p><span id="pendingLeavesNumber" th:text="${pendingLeavesNumber}"></span> Leaves to approve/reject</p>
	              </div>
	            </li>				
			</div>

            <div id="shortlistedDiv">
	            <li>
	              <hr class="dropdown-divider">
	            </li>
	
	            <li class="notification-item" id="pendingLeavesLi">
	              <i class="bi bi-info-circle text-primary"></i>
	              <div>
	                <h4>Job Applications</h4>
	                <p><span id="shortlistedNumber" th:text="${shortlistedNumber}"></span> Shortlisted Candidates </p>
	              </div>
	            </li>
            </div>
            
            <div id="interviewsDiv">
	            <li>
	              <hr class="dropdown-divider">
	            </li>
	
	            <li class="notification-item">
	              <i class="bi bi-info-circle text-primary"></i>
	              <div>
	                <h4>Interviews</h4>
	                <p><span id="interviews" th:text="${interviews?.size()}"></span> Scheduled Inteviews</p>
	              </div>
	            </li>
            </div>
            <li>
              <hr class="dropdown-divider">
            </li>

          </ul><!-- End Notification Dropdown Items -->

        </li><!-- End Notification Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" th:if="${employeeUser != null}" href="#" data-bs-toggle="dropdown">
            <div th:if="${employeeUser.getPhoto() != null and not employeeUser.getPhoto().isEmpty()}">
				<img th:src="@{'assets/img/photos/' + ${employeeUser.getPhoto()}}" class="rounded-circle" width="40" height="40" alt="img">
			</div>
			<div th:if="${(employeeUser.getPhoto() == null or employeeUser.getPhoto().isEmpty()) and employeeUser.getGender() == 'Male'}">
			    <img th:src="@{'assets/img/man_user_man.png'}" class="rounded-circle" width="40" height="40" alt="imge">
			</div>
			<div th:if="${(employeeUser.getPhoto() == null or employeeUser.getPhoto().isEmpty()) and employeeUser.getGender() == 'Female'}">
			    <img th:src="@{'assets/img/woman.png'}"  class="rounded-circle" width="40" height="40" alt="imgz">
			</div>            
			<span class="d-none d-md-block dropdown-toggle ps-2" th:text="${#authentication.getPrincipal().getUsername()}">Guest</span>
          </a><!-- End Profile Iamge Icon -->

          <a class="nav-link nav-profile d-flex align-items-center pe-0" th:if="${employeeUser == null}"  href="#" data-bs-toggle="dropdown">
			<img th:src="@{'assets/img/man_user_man.png'}" class="rounded-circle" width="40" height="40" alt="imge">           
			<span class="d-none d-md-block dropdown-toggle ps-2" th:text="${#authentication.getPrincipal().getUsername()}">Guest</span>
          </a>

           <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header" th:if="${employeeUser != null}">
              <h6 th:text="${employeeUser?.getFirstname() + ' ' + employeeUser?.getLastname() }"></h6>
              <span th:text="${employeeUser?.getJobTitle()?.getName() }"></span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" th:href="@{/profile}">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" th:href="@{/profile}">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" th:href="@{/faq}">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" th:href="@{/logout}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/index}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/employees}">
		  <i class="bi bi-people"></i>
          <span>Employees</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/leaves}">
          <i class="bi bi-calendar-event"></i>
          <span>Leaves</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/payments}">
          <i class="bi bi-cash"></i>
          <span>Payments</span>
        </a>
      </li>
	  
	  <li class="nav-item">
        <a class="nav-link" data-bs-target="#icons-nav1" data-bs-toggle="collapse" href="#">
          <i class="bi bi-person-plus"></i><span>Recruitement</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="icons-nav1" class="nav-content collapse show " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/vacancies}">
              <i class="bi bi-circle"></i><span>Vacancies</span>
            </a>
          </li>
          <li>
            <a th:href="@{/jobapplications}">
              <i class="bi bi-circle"></i><span>Applications</span>
            </a>
          </li>
        </ul>
      </li>
      	  
	  <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#icons-nav2" data-bs-toggle="collapse" href="#">
          <i class="bi bi-gear"></i><span>Configuration</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="icons-nav2" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/jobtitles}">
              <i class="bi bi-circle"></i><span>Job Titles</span>
            </a>
          </li>
          <li>
            <a th:href="@{/employeetypes}">
              <i class="bi bi-circle"></i><span>Employee Types</span>
            </a>
          </li>
        </ul>
      </li>
      
       <li class="nav-item">
	    <hr class="dropdown-divider">
	  </li>    
      
      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/profile}">
          <i class="bi bi-person"></i>
          <span>My Profile</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/faq}">
          <i class="bi bi-question-circle"></i>
          <span>F.A.Q</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/user}">
          <i class="bi bi-speedometer2"></i>
          <span>Admin Panel</span>
        </a>
      </li>


    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Profile</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">My Profile</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card" th:if="${employeeUser != null}">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
	            <div th:if="${employeeUser.getPhoto() != null and not employeeUser.getPhoto().isEmpty()}">
					<img th:src="@{'assets/img/photos/' + ${employeeUser.getPhoto()}}" class="rounded-circle" alt="img">
				</div>
				<div th:if="${(employeeUser.getPhoto() == null or employeeUser.getPhoto().isEmpty()) and employeeUser.getGender() == 'Male'}">
				    <img th:src="@{'assets/img/man_user_man.png'}" class="rounded-circle" width="40" height="40" alt="imge">
				</div>
				<div th:if="${(employeeUser.getPhoto() == null or employeeUser.getPhoto().isEmpty()) and employeeUser.getGender() == 'Female'}">
				    <img th:src="@{'assets/img/woman.png'}"  class="rounded-circle" width="40" height="40" alt="imgz">
				</div>
			      <h5 th:text="${employeeUser?.getFirstname()} + ' ' + ${employeeUser?.getLastname()} "></h5>
	              <p th:text="${employeeUser.getJobTitle().getName()}"></p>
            </div>
          </div>
          
          <div class="card" th:if="${employeeUser == null}" >
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
				<img th:src="@{'assets/img/man_user_man.png'}" class="rounded-circle" alt="img">
			      <h5 th:text="${#authentication.getPrincipal().getFirstname()} + ' ' + ${#authentication.getPrincipal().getLastname()} "></h5>
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

              <!--  <li class="nav-item"> 
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Settings</button>
                </li> -->
                
                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview" th:if="${employeeUser != null}">
                  
                  <h5 class="card-title">Profile Details</h5>

	                <div class="row">
	                  <div class="col-lg-3 col-md-4 label ">Full Name</div>
	                  <div class="col-lg-9 col-md-8" th:text="${employeeUser?.getFirstname()} + ' ' + ${employeeUser?.getLastname()} "></div>
	                </div>

					<div class="row">
					  <div class="col-lg-3 col-md-4 label" style="color: #01297099; font-weight: 600;">S.S.N</div>
					  <div class="col-lg-9 col-md-8" th:text="${employeeUser.getSocialSecurityNumber()}"></div>
					</div>
					
					<div class="row">
					  <div class="col-lg-3 col-md-4 label" style="color: #01297099; font-weight: 600;">Gender</div>
					  <div class="col-lg-9 col-md-8" th:text="${employeeUser.getGender()}"></div>
					</div>
					
					<div class="row">
					  <div class="col-lg-3 col-md-4 label" style="color: #01297099; font-weight: 600;">Marital Status</div>
					  <div class="col-lg-9 col-md-8" th:text="${employeeUser.getMaritalStatus()}"></div>
					</div>
					
					<div class="row">
					  <div class="col-lg-3 col-md-4 label" style="color: #01297099; font-weight: 600;">Address</div>
					  <div class="col-lg-9 col-md-8" th:text="${employeeUser.getAddress()}"></div>
					</div>
					
					<div class="row">
					  <div class="col-lg-3 col-md-4 label" style="color: #01297099; font-weight: 600;">City</div>
					  <div class="col-lg-9 col-md-8" th:text="${employeeUser.getCity()}"></div>
					</div>
					
					<div class="row">
					  <div class="col-lg-3 col-md-4 label" style="color: #01297099; font-weight: 600;">Phone</div>
					  <div class="col-lg-9 col-md-8" th:text="${employeeUser.getPhone()}"></div>
					</div>
					
					<div class="row">
					  <div class="col-lg-3 col-md-4 label" style="color: #01297099; font-weight: 600;">Mobile</div>
					  <div class="col-lg-9 col-md-8" th:text="${employeeUser.getMobile()}"></div>
					</div>
					
					<div class="row">
					  <div class="col-lg-3 col-md-4 label" style="color: #01297099; font-weight: 600;">Email</div>
					  <div class="col-lg-9 col-md-8" th:text="${employeeUser.getEmail()}"></div>
					</div>
					
					<div class="row">
					  <div class="col-lg-3 col-md-4 label" style="color: #01297099; font-weight: 600;">Birthdate</div>
					  <div class="col-lg-9 col-md-8" th:text="${employeeUser.getDateOfBirth()}"></div>
					</div>
					
					<div class="row">
					  <div class="col-lg-3 col-md-4 label" style="color: #01297099; font-weight: 600;">Hire Date</div>
					  <div class="col-lg-9 col-md-8" th:text="${employeeUser.getHireDate()}"></div>
					</div>
					
					<div class="row">
					  <div class="col-lg-3 col-md-4 label" style="color: #01297099; font-weight: 600;">Job Title</div>
					  <div class="col-lg-9 col-md-8" th:text="${employeeUser.getJobTitle()?.getName()}"></div>
					</div>
					
					<div class="row">
					  <div class="col-lg-3 col-md-4 label" style="color: #01297099; font-weight: 600;">Type</div>
					  <div class="col-lg-9 col-md-8" th:text="${employeeUser.getEmployeeType()?.getName()}"></div>
					</div>
                </div>
                
                <div class="tab-pane fade show active profile-overview" id="profile-overview" th:if="${employeeUser == null}" >
                  
                  <h5 class="card-title">Profile Details</h5>

	                <div class="row">
	                  <div class="col-lg-3 col-md-4 label ">Full Name</div>
	                  <div class="col-lg-9 col-md-8" th:text="${#authentication.getPrincipal().getFirstname()} + ' ' + ${#authentication.getPrincipal().getLastname()}"></div>
	                </div>

					<div class="row">
					  <div class="col-lg-3 col-md-4 label" style="color: #01297099; font-weight: 600;">Username</div>
					  <div class="col-lg-9 col-md-8" th:text="${#authentication.getPrincipal().getUsername()}"></div>
					</div>
					
					<div class="row">
					  <div class="col-lg-3 col-md-4 label" style="color: #01297099; font-weight: 600;">S.S.N</div>
					  <div class="col-lg-9 col-md-8"></div>
					</div>
					
					<div class="row">
					  <div class="col-lg-3 col-md-4 label" style="color: #01297099; font-weight: 600;">Gender</div>
					  <div class="col-lg-9 col-md-8" ></div>
					</div>
					
					<div class="row">
					  <div class="col-lg-3 col-md-4 label" style="color: #01297099; font-weight: 600;">Marital Status</div>
					  <div class="col-lg-9 col-md-8" ></div>
					</div>
					
					<div class="row">
					  <div class="col-lg-3 col-md-4 label" style="color: #01297099; font-weight: 600;">Address</div>
					  <div class="col-lg-9 col-md-8"></div>
					</div>
					
					<div class="row">
					  <div class="col-lg-3 col-md-4 label" style="color: #01297099; font-weight: 600;">City</div>
					  <div class="col-lg-9 col-md-8" ></div>
					</div>
					
					<div class="row">
					  <div class="col-lg-3 col-md-4 label" style="color: #01297099; font-weight: 600;">Phone</div>
					  <div class="col-lg-9 col-md-8"></div>
					</div>
					
					<div class="row">
					  <div class="col-lg-3 col-md-4 label" style="color: #01297099; font-weight: 600;">Mobile</div>
					  <div class="col-lg-9 col-md-8"></div>
					</div>
					
					<div class="row">
					  <div class="col-lg-3 col-md-4 label" style="color: #01297099; font-weight: 600;">Email</div>
					  <div class="col-lg-9 col-md-8"></div>
					</div>
					
					<div class="row">
					  <div class="col-lg-3 col-md-4 label" style="color: #01297099; font-weight: 600;">Birthdate</div>
					  <div class="col-lg-9 col-md-8"></div>
					</div>
					
					<div class="row">
					  <div class="col-lg-3 col-md-4 label" style="color: #01297099; font-weight: 600;">Hire Date</div>
					  <div class="col-lg-9 col-md-8"></div>
					</div>
					
					<div class="row">
					  <div class="col-lg-3 col-md-4 label" style="color: #01297099; font-weight: 600;">Job Title</div>
					  <div class="col-lg-9 col-md-8" ></div>
					</div>
					
					<div class="row">
					  <div class="col-lg-3 col-md-4 label" style="color: #01297099; font-weight: 600;">Type</div>
					  <div class="col-lg-9 col-md-8"></div>
					</div>
                </div>               

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form>
                    <div class="row mb-3">
                      <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                      <div class="col-md-8 col-lg-9">
                        <img src="assets/img/profile-img.jpg" alt="Profile">
                        <div class="pt-2">
                          <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a>
                          <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Full Name</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="fullName" type="text" class="form-control" id="fullName" value="Kevin Anderson">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="about" class="col-md-4 col-lg-3 col-form-label">About</label>
                      <div class="col-md-8 col-lg-9">
                        <textarea name="about" class="form-control" id="about" style="height: 100px">Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</textarea>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="company" class="col-md-4 col-lg-3 col-form-label">Company</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="company" type="text" class="form-control" id="company" value="Lueilwitz, Wisoky and Leuschke">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Job" class="col-md-4 col-lg-3 col-form-label">Job</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="job" type="text" class="form-control" id="Job" value="Web Designer">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Country" class="col-md-4 col-lg-3 col-form-label">Country</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="country" type="text" class="form-control" id="Country" value="USA">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Address" class="col-md-4 col-lg-3 col-form-label">Address</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="address" type="text" class="form-control" id="Address" value="A108 Adam Street, New York, NY 535022">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="phone" type="text" class="form-control" id="Phone" value="(436) 486-3538 x29071">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="email" type="email" class="form-control" id="Email" value="k.anderson@example.com">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Twitter" class="col-md-4 col-lg-3 col-form-label">Twitter Profile</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="twitter" type="text" class="form-control" id="Twitter" value="https://twitter.com/#">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Facebook" class="col-md-4 col-lg-3 col-form-label">Facebook Profile</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="facebook" type="text" class="form-control" id="Facebook" value="https://facebook.com/#">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Instagram" class="col-md-4 col-lg-3 col-form-label">Instagram Profile</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="instagram" type="text" class="form-control" id="Instagram" value="https://instagram.com/#">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Linkedin" class="col-md-4 col-lg-3 col-form-label">Linkedin Profile</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="linkedin" type="text" class="form-control" id="Linkedin" value="https://linkedin.com/#">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>

                <div class="tab-pane fade pt-3" id="profile-settings">

                  <!-- Settings Form -->
                  <form>

                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email Notifications</label>
                      <div class="col-md-8 col-lg-9">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="changesMade" checked>
                          <label class="form-check-label" for="changesMade">
                            Changes made to your account
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="newProducts" checked>
                          <label class="form-check-label" for="newProducts">
                            Information on new products and services
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="proOffers">
                          <label class="form-check-label" for="proOffers">
                            Marketing and promo offers
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="securityNotify" checked disabled>
                          <label class="form-check-label" for="securityNotify">
                            Security alerts
                          </label>
                        </div>
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form><!-- End settings Form -->

                </div>

                <div class="tab-pane fade pt-3" id="profile-change-password">
                  <!-- Change Password Form -->
                  <form th:action="@{/user/update-password}" method="post" enctype="multipart/form-data">
					<input type="hidden" id="username" name="username" th:value="${#authentication.getPrincipal().getUsername()}">

                    <div class="row mb-3">
                      <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="password" type="password" class="form-control" id="currentPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="newPassword" type="password" class="form-control" id="yourPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input type="password" class="form-control" id="confirmPassword">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Change Password</button>
                    </div>
                  </form><!-- End Change Password Form -->

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" >
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      <a href="https://bootstrapmade.com/"></a>
    </div>
  </footer><!-- End Footer -->
  
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="assets/js/confirmPassword.js"></script>
  <script src="assets/js/notification.js"></script>

</body>

</html>